body {
    background-image: url("../images/starwars.jpg");
		margin:auto;
}

.container{
	margin:auto 0;
}

*{
	padding: 0;
	margin:0;
	box-sizing: border-box;
}
button{
	padding: 1rem;
	margin-top:1rem;
	margin-bottom: 1rem;
	border:none;
	border-radius: 4px;
	outline: none;
	cursor: pointer;
}
#title{
	font-family: 'Faster One', cursive;
	color:white;
	font-size:7.5em;
}

#title2{
	font-family: 'Faster One', cursive;
	color:white;
	font-size:3.5em;
}
.myPlayerZone{
	width:500px;
	height: 150px;
	margin: auto;
}

.myPlayerZone h1{
	font-size:3em;
	color:red;
}
.mainCharacter{
	display: flex;
	justify-content: center;
}

.character{
	width: auto;
	height: auto;
	margin:10px;
	cursor: pointer;
	padding: 0.5rem;
	border-radius: 4px;
	border:1px solid white;
}
.img{
	width:auto;
	height: auto;
	border-radius: 4px;

}

.name{
	color:white;
}
.yellow{
	background: yellow;
}

.red{
	background: red;
}


.blue{
	background: blue;
}

.green{
	background: green;
}


.enemyZone{
	width:500px;
	height: 150px;

	margin:auto;
}

.counter, .attackPower{
	display: none;
}

.character img {
	width:6em;
	height: 6em;
}
button{
	margin:auto;
}

.hp, .counter, .attackPower, .counterAttack{
	color:white;
}

.alert{
	background-color: red;
	width:75%;
	height:10em;
	margin:auto;
	text-align: center;
}

.alert h1{
	font-family: 'Faster One', cursive;
	font-size:2em;
}
