body {
    background-image: url("../images/starwars.jpg");
}


*{
	padding: 0;
	margin:0;
	box-sizing: border-box;
}
button{
	padding: 1rem;
	margin-top:1rem;
	margin-bottom: 1rem;
	border:none;
	border-radius: 4px;
	outline: none;
	cursor: pointer;
}

.myPlayerZone{
	width:500px;
	height: 150px;
	background:lightgrey;
}
.mainCharacter{
	display: flex;
	justify-content: center;
}

.character{
	width: auto;
	height: auto;
	margin:10px;
	cursor: pointer;
	padding: 0.5rem;
	border-radius: 4px;
	border:1px solid white;
}
.img{
	width:auto;
	height: auto;
	border-radius: 4px;

}

.name{
	color:white;
}
.yellow{
	background: yellow;
}

.red{
	background: red;
}


.blue{
	background: blue;
}

.green{
	background: green;
}


.enemyZone{
	width:500px;
	height: 150px;
	background:grey;
}

.counter, .attackPower{
	display: none;
}

.character img {
	width:6em;
	height: 6em;
}
